@model WebApplication16.Models.Mudur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mudur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MudurAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MudurAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MudurSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MudurSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MudurEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MudurEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MudurAdres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MudurAdres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonelTc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonelTc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Urun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Urun.UrunId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MudurId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
