@model WebApplication16.Models.Personel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Personel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonelAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonelAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonelSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonelSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonelEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonelEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonelAdres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonelAdres)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
