@model IEnumerable<WebApplication16.Models.Personel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.imageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonelAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonelSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonelEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonelAdres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/image/Personel/@item.imageName" asp-append-version="true" width="50" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonelAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonelSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonelEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonelAdres)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
